##################################################################################
######               FILE IS PUPPET CONTROLLED                               #####
######     /etc/puppet/modules/nagios-server/files/configs/servicegroups.cfg #####
##################################################################################

define servicegroup{
	servicegroup_name	elasticsearch-cluster
	alias			Elasticsearch Cluster
	members			search01.cp.vimro.com,Elasticsearch,kibana01.cp.vimro.com,Elasticsearch,\
				search02.cp.vimro.com,Elasticsearch,kibana02.cp.vimro.com,Elasticsearch,\
				search03.cp.vimro.com,Elasticsearch,kibana03.cp.vimro.com,Elasticsearch,\
				search04.cp.vimro.com,Elasticsearch,kibana04.cp.vimro.com,Elasticsearch,\
				search05.cp.vimro.com,Elasticsearch,search06.cp.vimro.com,Elasticsearch
	}

define servicegroup{
	servicegroup_name	kibana-cluster
	alias			Kibana Cluster
	members			kibana01.cp.vimro.com,Kibana Listener,\
				kibana02.cp.vimro.com,Kibana Listener,\
				kibana03.cp.vimro.com,Kibana Listener,\
				kibana04.cp.vimro.com,Kibana Listener
	}
